@tailwind base;
@tailwind components;
@tailwind utilities;


.deforme {
    border-radius: 100px 35px 100px 21px;
    -moz-border-radius: 100px 35px 100px 21px;
    -webkit-border-radius: 100px 35px 100px 21px;
    transform: rotate(0deg);
}

.infoF {
    backdrop-filter: blur(1px);
}





@media screen and (max-width: 650px)  {
    body {
        width: 100%;
    }
    .headerMain {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .infoF h1 {
        font-size: 15px;
    }
    .info {
        width: 80%;
    
    }
    .photo {
        width: 50%;
    }
    .CardSpecializate {
        margin: 25px 0px 25px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .padreProjects {
        width: 90% !important;
        margin: auto;
    }
    .portafolios {
        width: 100% ;
    }
    .cardsPortafolio {
        width: 100%;
        display: flex  !important;
        flex-direction: column;
    }
    .cardPortafolio {
        width: 100% !important ;
    }
    .cardPortafolio img {
        width: 100% !important ;
        
    }
    .navBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px 20px 10px 20px;    
    }
      

    .navBar .navigation {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px;
        margin: 0px;
    }
    .navBar .navigation p{
        padding: 0px;
        margin: 0px;
    }
    .navBar .Page {
        width: 40%;
        padding: 0px;
    }
    .DatosAdicionales {
        width: 90% !important;
        margin: auto;
        margin-bottom: 150px;
    }
    .DatosAdicionalesPadre {
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    .DatosAdicionalesButtons{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .DatosAdicionalesButtons button{
        width: 33%;
    }
    .DatosAdicionalesInfo {
        width: 100%;
    }
    .lenguajes {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contactInformation {
        height: 450px;
    }
    .contactMe form {
        width: 100%;
    }
    .contactMe form button {
        align-self: center;
        width: 60%;
    }
    .verPoryecto {
        width:100%;
        font-size: 12px;

    }
    .verPoryecto .infoF {
        display: flex;
        flex-direction: column;
    }
    .verPoryecto p {
        width: 100%;
    }
    .verPoryecto .tec {
        width: 100%;
        margin-top: 50px;
    }
    .verPoryecto .tec .map {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .verPoryecto .tec h2 {
        font-weight: bold;
    }

    .pelotas1,.pelotas2, .pelotas3 , .pelotas4 {
        width: 100px;
        height: 100px;
    }

    .pelotas1 {
        width: 150px;
        height: 150px;
        bottom: -15%;
        left: 0;
    }
    .pelotas2 {
        width: 200px;
        height: 200px;
        bottom: -20%;
        left: 40%;
    }
    .pelotas3 {
        width: 250px;
        height: 250px;
        bottom: -10%;
        left: 70%;
    }
    .pelotas4 {
        height: 200px;
        width: 200px;
        top: -10%;
        right: -15%;
    }

    .newNav {
        animation-name: AnimarNav;
        animation-duration: 0.2s;
    }

    @keyframes AnimarNav {
        from{
            width: 0px;
        }
        to{
           width: 190px;
        }
    }

}


@media screen and (max-width:900px) {
    .verPoryecto {
        width: 80%;
    }
}
@media screen and (max-width:800px) {
    .info {
        margin-bottom: 50px;
    }
    .videoVerProyecto {
        width: 100% !important;
    }
}

@media screen and (max-width:600px) {
    .info {
        margin-bottom: 100px;
    }
}

@media screen and (max-width:470px) {
    .info {
        margin-bottom: 200px;
    }
}
@media screen and (max-width:420px) {
    .info {
        margin-bottom: 300px;
    }
}
@media screen and (max-width:350px) {
    * {
        font-size: 12px;
    }
    .info {
        margin-bottom: 100px;
    }
}